#review_block {
    background-color: #b6f1ff;
    padding: 5rem;
}

#LogSignBtn {
    display: flex;
    justify-content: center;
}

.btn {
    margin: auto;
}

.title_size {
    text-align: center;
    font-size: 5rem;
}

.accordion-container {
    margin: 6rem 4rem;
}

.account-form {
    margin: 2rem;
}

.form-check {
    margin: 1rem 0;
}

#review-container {
    margin: 6rem 30%;
}

#change-container {
    margin: 6rem 4rem;
}

.row {
    padding: 1.5rem;
}

.col-sm-4 {
    padding: 1rem;
}