<!-- Login page -->
{% extends 'base.html' %}
{% block head %}
<title>Create Account</title>
{% endblock %}

{% block body %}
    <div class="accordion-container">
        <h1>Create an Account</h1><br>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Create Account
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <form class="account-form" name="Account" method="POST" action="{{ url_for('create') }}">
                  {{ Form.CSRF }}
                  <div class="form-floating mb-3">
                    <div class="form-floating">
                      <p>Username {{ Form.username }}</p>
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                    <div class="form-floating">
                      <p>Password {{ Form.password }}</p>
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                        <p>Date of Birth {{ Form.date_of_birth }}</p>
                  </div>
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong>{{ message }}</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                  <input type="submit" class="btn btn-success" value="Sign Up">
                </form>
            </div>
          </div>
        </div>
    </div>

{% endblock %}