<!-- Main page -->
{% extends 'base.html' %}

{% block head %}
<title>Reviews</title>
{% endblock %}

{% block body %}

    <div id = "review_block">
        <p class="title_size">200 Character<br>Reviews!</p>
        <div id="LogSignBtn">
            <div>
                {% if current_user.is_authenticated %}
                    <button type="button" class="btn btn-success" onclick=signOut()>Sign Out</button>
                {% else %}
                    <button type="button" class="btn btn-success" onclick=logIn()>Log In</button>
                    <button type="button" class="btn btn-primary" onclick=signUp()>Sign Up</button>
                {% endif %}
            </div>
        </div>
    </div>
        <div class="row">
        {% for review in reviews %}
            <div class="col-sm-4">
                <div class="card text-center">
                  <div class="card-header">
                      <p id="book_title">{{ review.book.name }}</p>
                  </div>
                  <div class="card-body">

                    <h5 class="card-title">
                    Rating:
                    {% for stars in range(review.rating) %}
                        *
                        {% endfor %}
                    </h5>

                  <hr>
                    <p class="card-text">{{ review.content }}</p>
                  </div>
                  <div class="card-footer text-muted">
                      By user: {{ review.account.username }}
                  </div>
                </div>
            </div>
            {%  endfor %}
        </div>


{% endblock %}
