<!-- Login page -->
{% extends 'base.html' %}
{% block head %}
<title>Log in</title>
{% endblock %}

{% block body %}
    <div class="accordion-container">
        <h1>Log In to Your Account</h1><br>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Log In
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <form action="{{ url_for('login') }}" class="account-form" method="POST" name="Log In">
                  {{ Form.CSRF }}
                  <div class="form-floating mb-3">
                    <div class="form-floating">
                        <p>Username {{ Form.username }}</p>
                    </div>
                  </div>
                    <div class="form-floating">
                        <p>Password {{ Form.password }}</p>
                    </div>
                  <div class="mb-3 form-check">
                      <p>{{ Form.stayLoggedIn }} Stay Logged In?</p>
                  </div>
                  <button type="submit" class="btn btn-success">Log In</button>
                </form>
            </div>
          </div>
        </div>
    </div>

{% endblock %}