<!-- Profile page -->
{% extends 'base.html' %}

{% block head %}
<title>Your Profile</title>
{% endblock %}

{% block body %}

    <div id="change-container">
        {% if current_user.is_authenticated %}
        <h1>Welcome Back, {{ current_user.username }}! </h1><br>
        {% endif %}
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Change Password
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <form action="{{ url_for('profile') }}" class="account-form" method="post" name="Account">
                  {{ Form.csrf_token }}
                  <div class="form-floating mb-3">
                    <div class="form-floating">
                        <p>New Password {{ Form.password }}</p>
                    </div>
                  </div>
                    <div class="form-floating mb-3">
                    <div class="form-floating">
                        <p>Old Password {{ Form.old_password }}</p>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-success">Change Password</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <br>
    <h1>Your Reviews</h1>
    <div class="row">
        {% for review in profile_review %}
            <div class="col-sm-4">
                <div class="card text-center">
                  <div class="card-header">
                      {{ review.book.name }}
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">
                    Rating:
                    {% for stars in range(review.rating) %}
                        *
                        {% endfor %}

                    </h5>
                      <hr>
                    <p class="card-text">{{ review.content }}</p>
                  </div>
                  <div class="card-footer text-muted">
                      <a class="btn btn-danger" href="/delete/{{review.id}}" role="button">Delete</a>
                  </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>






{% endblock %}