<!-- Review page -->
{% extends 'base.html' %}

{% block head %}
<title>Create Review</title>
{% endblock %}

{% block body %}
    <div id="review-container">
        <h1>Create a Review</h1><br>
        <form action="{{ url_for('review') }}" class="review-form" method="post" name="Review">
            {{ Form.csrf_token }}
            <div class="mb-3">
                <p>Select Book <br>{{ Form.book_title }}</p>
            </div>
            <div class="mb-3">
                <p>Rating <br>{{ Form.rating }}</p>
            </div>
            <div class="mb-3">
                <p>Review (Limit 200 characters)<br> {{ Form.review_content }}</p>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

    </div>

{% endblock %}